Repository leduyhoang1994/uni-bl00ket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

.gitlab-ci.yml:

include:
  - project: "devops/gitlab-piplelie"
    file: "kustomize.gitlab-ci.yml"



stages:
  - build-image
  - push-image-tag



variables:
  MODULE_NAME: backend-game
  PROJECT_NAME: k12
before_script:
  - export IMAGE_TAG=$(date +%d.%m.%y)-${CI_COMMIT_SHA::8}

## 1. Build image web (build full)
.build-image-web:
  stage: build-image
  variables:
    CI_REGISTRY_EDUCA: 192.168.1.205
    CI_REGISTRY_EDUCA_USER: default
    CI_REGISTRY_EDUCA_PASSWORD: default
    IMAGE_NAME: $CI_REGISTRY_EDUCA/$PROJECT_NAME/$CI_COMMIT_REF_NAME/$MODULE_NAME
    DOCKERFILE: Dockerfile
    VITE_UNI_CLASS_BACKEND_HOST: $VITE_UNI_CLASS_BACKEND_HOST
    #RUNNERSERVER: build-shell
  #tags:
    #- $RUNNERSERVER
  script:
    - echo hello $IMAGE_NAME:$IMAGE_TAG
    - echo $CI_REGISTRY_EDUCA_USER
    - echo $CI_REGISTRY_EDUCA_PASSWORD
    - docker login -u $CI_REGISTRY_EDUCA_USER -p $CI_REGISTRY_EDUCA_PASSWORD  $CI_REGISTRY_EDUCA
    - docker build --build-arg $VITE_UNI_CLASS_BACKEND_HOST --cache-from $IMAGE_NAME:latest --tag $IMAGE_NAME:latest  --tag $IMAGE_NAME:$IMAGE_TAG -f $DOCKERFILE .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  cache:
    key: composer.json
    paths:
      - node_modules/
      - vendor/
#devaa

#production
build-image-frontend-prod(build-image):
  extends: .build-image-web
  variables:
    #RUNNER-SERVER: deploy-prod
    #GIT-BRANCH: master
    CI_REGISTRY_EDUCA: hub.educa.vn
    CI_REGISTRY_EDUCA_USER: $CI_REGISTRY_USER_PROD
    CI_REGISTRY_EDUCA_PASSWORD: $CI_REGISTRY_PASSWORD_PROD
    DOCKERFILE: Frontend/Dockerfile
    MODULE_NAME: frontend-game
    VITE_UNI_CLASS_BACKEND_HOST: "https://ws-game.uniclass.vn"
    #RUNNER-SERVER: deploy-prod
  tags:
    - build-shell
  #when: manual
  only:
    refs:
      - main
    changes:
      - Frontend/**/*
#dev

#production
build-image-backend-prod(build-image):
  extends: .build-image-web
  variables:
    CI_REGISTRY_EDUCA: hub.educa.vn
    CI_REGISTRY_EDUCA_USER: $CI_REGISTRY_USER_PROD
    CI_REGISTRY_EDUCA_PASSWORD: $CI_REGISTRY_PASSWORD_PROD
    DOCKERFILE: Backend-k8s.Dockerfile
    MODULE_NAME: backend-game
    VITE_UNI_CLASS_BACKEND_HOST: "https://ws-game.uniclass.vn"
  tags:
    - build-shell
  only:
    refs:
      - main
    changes:
      - Backend/**/*

Toannq
  Backend-k8s.Dockerfile
Due: none

Toannq
  .gitlab-ci.yml
  Backend-k8s.Dockerfile
Due: none

Toannq
  .gitlab-ci.yml
  Frontend/Pro.Dockerfile
Due: build-image-frontend-prod(build-image)

Mongoose issue
  Backend/nodemon.json
  Backend/package-lock.json
  Backend/package.json
  Backend/src/utils/redis.client.ts
  Backend/tsconfig.json
Due: build-image-backend-prod(build-image)

Remove leaderboard
  Frontend/src/game/common/components/quiz/quiz.tsx
Due: build-image-frontend-prod(build-image)

Thêm game Gold Quest
  Backend/src/host/host.repo.ts
  Backend/src/routes.ts
  Backend/src/swagger.json
  Common/constants/host.constant.ts
  Frontend/public/images/host/modes/Cafe.png
  Frontend/public/images/host/modes/GoldQuest.png
  Frontend/src/App.tsx
  Frontend/src/game/common/components/quiz/quiz.tsx
  Frontend/src/game/common/components/quiz/store.ts
  Frontend/src/game/common/game-controller.singleton.ts
  Frontend/src/game/common/game.controller.ts
  Frontend/src/game/common/utils/utils.ts
  Frontend/src/game/game.module.css
  Frontend/src/game/host/components/player-activities-board/player-activites-board.tsx
  Frontend/src/game/host/pages/admin/admin.layout.tsx
  Frontend/src/game/host/pages/admin/host-create/game-mode-picker.tsx
  Frontend/src/game/host/pages/admin/host-create/host-create.tsx
  Frontend/src/game/host/pages/admin/host.tsx
  Frontend/src/game/host/pages/admin/in-game/in-game.tsx
  Frontend/src/game/host/pages/admin/in-game/leaderboard.tsx
  Frontend/src/game/host/pages/admin/lobby/lobby.tsx
  Frontend/src/game/host/pages/player/in-game/in-game.tsx
  Frontend/src/game/host/pages/player/lobby/waiting-lobby-player.tsx
  Frontend/src/game/host/pages/player/player.layout.tsx
  Frontend/src/game/host/styles/host.scss
  Frontend/src/game/modes/cafe/cafe.controller.ts
  Frontend/src/game/modes/cafe/cafe.tsx
  Frontend/src/game/modes/cafe/screens/customer-desk/components/table-container/table-container.tsx
  Frontend/src/game/modes/gold-quest/gold-quest-controller.singleton.ts
  Frontend/src/game/modes/gold-quest/gold-quest-game.tsx
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
  Frontend/src/game/modes/gold-quest/gold-quest.tsx
  Frontend/src/game/modes/gold-quest/model.ts
  Frontend/src/game/modes/gold-quest/store.ts
  Frontend/src/game/page.tsx
  Frontend/src/loader.tsx
  Frontend/src/styles/styles.scss
Due: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

Comment
  Frontend/src/App.tsx
  Frontend/src/game/game.module.css
  Frontend/src/game/host/styles/host.scss
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
Due: build-image-frontend-prod(build-image)

Remove gsap, pixijs
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/game/common/components/quiz/congratulation-effect.tsx
  Frontend/src/game/common/components/quiz/quiz.scss
  Frontend/src/game/common/components/quiz/quiz.tsx
  Frontend/vite.config.js
Due: build-image-frontend-prod(build-image)

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update same store
  Frontend/src/game/common/game.controller.ts
Due: build-image-frontend-prod(build-image)

add game gold-quest
  Frontend/public/images/gold-quest/background.svg
  Frontend/public/images/gold-quest/chest-one.svg
  Frontend/public/images/gold-quest/chest-three.svg
  Frontend/public/images/gold-quest/chest-two.svg
  Frontend/public/images/gold-quest/gold.svg
  Frontend/src/game/common/components/quiz/quiz.scss
  Frontend/src/game/modes/gold-quest/components/gold-quest-header.tsx
  Frontend/src/game/modes/gold-quest/components/gold-quest-info-user.tsx
  Frontend/src/game/modes/gold-quest/gold-quest-game.tsx
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
  Frontend/src/game/modes/gold-quest/styles/style.scss
Due: build-image-frontend-prod(build-image)

Fix save data gold-quest
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
Due: build-image-frontend-prod(build-image)

add popup steal
  Frontend/src/game/common/components/quiz/quiz.scss
  Frontend/src/game/common/components/quiz/quiz.tsx
  Frontend/src/game/modes/gold-quest/components/gold-quest-header.tsx
  Frontend/src/game/modes/gold-quest/components/gold-quest-popup.tsx
  Frontend/src/game/modes/gold-quest/gold-quest-game.tsx
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
  Frontend/src/game/modes/gold-quest/styles/style.scss
Due: build-image-frontend-prod(build-image)

GoldQuest Done Ver1
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
Due: build-image-frontend-prod(build-image)

fix bug
  Frontend/src/game/host/styles/host.scss
  Frontend/src/game/modes/cafe/screens/choose-player-target/choose-player-target.tsx
  Frontend/src/game/modes/gold-quest/components/gold-quest-header.tsx
  Frontend/src/game/modes/gold-quest/gold-quest-game.tsx
  Frontend/src/game/modes/gold-quest/styles/style.scss
Due: build-image-frontend-prod(build-image)

add log debug
  Backend/src/servers/worker.server.ts
Due: build-image-backend-prod(build-image)

fix bug
  Frontend/src/game/common/components/quiz/quiz.scss
  Frontend/src/game/common/components/quiz/quiz.tsx
  Frontend/src/game/modes/cafe/styles/cafe.scss
Due: build-image-frontend-prod(build-image)

Kafka utils
  Backend/src/utils/kafka.client.ts
Due: build-image-backend-prod(build-image)

add kafka
  Backend/.env.example
  Backend/package.json
  Backend/src/app.ts
  Backend/src/publishers/game-event.publisher.ts
  Backend/src/types/topics.type.ts
  Backend/src/utils/kafka.client.ts
Due: build-image-backend-prod(build-image)

Time Schedule, leaderboard, meta
  Backend/src/controllers/external.controller.ts
  Backend/src/controllers/internal.controller.ts
  Backend/src/host/host.repo.ts
  Backend/src/host/host.socket.ts
  Backend/src/host/model/host.key.ts
  Backend/src/routes.ts
  Backend/src/servers/worker.server.ts
  Backend/src/swagger.json
  Backend/src/utils/kafka.client.ts
  Backend/src/utils/token.ts
  Common/constants/event.constant.ts
  Common/types/host.type.ts
  Common/types/socket.type.ts
  Frontend/README.md
  Frontend/src/game/common/components/countdown/CountdownTimer.tsx
  Frontend/src/game/common/components/quiz/quiz.scss
  Frontend/src/game/host/controller.ts
  Frontend/src/game/host/pages/admin/in-game/in-game.tsx
  Frontend/src/game/host/pages/admin/lobby/lobby.tsx
  Frontend/src/game/host/pages/player/in-game/in-game.tsx
  Frontend/src/game/host/pages/player/lobby/host-player.tsx
  Frontend/src/game/host/pages/player/lobby/waiting-lobby-player.tsx
  Frontend/src/game/host/store.ts
  Frontend/src/game/modes/gold-quest/styles/style.scss
  Frontend/src/styles/styles.scss
Due: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

toannq
  Backend-k8s.Dockerfile
Due: none

Adding kafka
  Backend/src/host/host.repo.ts
Due: build-image-backend-prod(build-image)

rebuild
  Backend/src/app.ts
Due: build-image-backend-prod(build-image)

rebuild npm
  Backend/package-lock.json
Due: build-image-backend-prod(build-image)

Translate GoldQuest
  Backend/package-lock.json
  Backend/src/app.ts
  Backend/src/controllers/internal.controller.ts
  Backend/src/host/host-socket.handler.ts
  Backend/src/publishers/game-event.publisher.ts
  Backend/src/routes.ts
  Backend/src/swagger.json
  Backend/src/utils/util.ts
  Common/types/host.type.ts
  Frontend/src/App.tsx
  Frontend/src/game/common/utils/utils.ts
  Frontend/src/game/host/components/button/button-player.tsx
  Frontend/src/game/host/components/show-total-money/show-total-money.tsx
  Frontend/src/game/host/pages/admin/final/components/final-standing-prize-v2.tsx
  Frontend/src/game/host/pages/admin/final/final-standings.tsx
  Frontend/src/game/host/pages/player/final/components/final-standings-player-board.tsx
  Frontend/src/game/host/pages/player/final/components/final-standings-player-content.tsx
  Frontend/src/game/host/pages/player/final/final-standings-player.tsx
  Frontend/src/game/host/pages/player/lobby/host-player.tsx
  Frontend/src/game/host/pages/player/lobby/waiting-lobby-player.tsx
  Frontend/src/game/host/styles/final-standings-player.scss
  Frontend/src/game/modes/cafe/components/menu/menu-layout.tsx
  Frontend/src/game/modes/cafe/screens/abilities/abilities-container.tsx
  Frontend/src/game/modes/cafe/screens/abilities/components/abilities-item.tsx
  Frontend/src/game/modes/cafe/screens/choose-player-target/choose-player-target.tsx
  Frontend/src/game/modes/cafe/screens/shop/components/shop-item.tsx
  Frontend/src/game/modes/cafe/screens/shop/shop-container.tsx
  Frontend/src/game/modes/gold-quest/components/gold-quest-popup.tsx
  Frontend/src/game/modes/gold-quest/gold-quest-game.tsx
  Frontend/src/game/modes/gold-quest/gold-quest.controller.ts
  Frontend/src/game/modes/gold-quest/gold-quest.tsx
  Frontend/src/styles/styles.scss
Due: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

add try-catch publishLeaderboard
  Backend/src/publishers/game-event.publisher.ts
Due: build-image-backend-prod(build-image)

fix config kafka sasl
  Backend/src/app.ts
  Backend/src/utils/kafka.client.ts
Due: build-image-backend-prod(build-image)

Update avatar size
  Frontend/src/game/host/components/player-activities-board/player-activites-board.tsx
  Frontend/src/game/host/pages/admin/final/components/final-standing-prize-v2.tsx
  Frontend/src/game/host/pages/player/final/components/final-standings-player-board.tsx
  Frontend/src/game/host/pages/player/final/components/final-standings-player-content.tsx
  Frontend/src/game/host/styles/final-standings.scss
Due: build-image-frontend-prod(build-image)

add auth kafka
  Backend/.env.example
  Backend/src/utils/kafka.client.ts
Due: build-image-backend-prod(build-image)

add log
  Backend/src/host/host.repo.ts
  Backend/src/publishers/game-event.publisher.ts
  Backend/src/servers/worker.server.ts
Due: build-image-backend-prod(build-image)

Add countdown anim
  Backend/src/app.ts
  Frontend/src/game/common/components/countdown/CountdownTimer.tsx
  Frontend/src/game/common/components/countdown/style.scss
  Frontend/src/game/host/pages/admin/in-game/in-game.tsx
  Frontend/src/game/host/pages/admin/lobby/lobby.tsx
  Frontend/src/game/host/pages/player/in-game/in-game.tsx
  Frontend/src/game/host/pages/player/lobby/waiting-lobby-player.tsx
Due: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

Update perform
  Backend/package-lock.json
  Backend/package.json
  Backend/src/controllers/internal.controller.ts
  Backend/src/host/host-socket.handler.ts
  Backend/src/host/host.repo.ts
  Backend/src/routes.ts
  Backend/src/swagger.json
  Backend/src/utils/throttle.ts
  Backend/src/utils/util.ts
  Frontend/src/game/host/styles/button-player.scss
Due: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

Add Game Bot
  Frontend/src/game/common/components/countdown/style.scss
  GameBot/.gitignore
  GameBot/bot.js
  GameBot/bun.lock
  GameBot/logger.js
  GameBot/main.js
  GameBot/package.json
  GameBot/ui.js
  GameBot/utils.js
Due: build-image-frontend-prod(build-image)
