Repository leduyhoang1994/uni-bl00ket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-frontend-prod(build-image), build-image-backend-prod(build-image)

.gitlab-ci.yml:

include:
  - project: "devops/gitlab-piplelie"
    file: "kustomize.gitlab-ci.yml"



stages:
  - build-image
  - push-image-tag



variables:
  MODULE_NAME: backend-game
  PROJECT_NAME: k12
before_script:
  - export IMAGE_TAG=$(date +%d.%m.%y)-${CI_COMMIT_SHA::8}

## 1. Build image web (build full)
.build-image-web:
  stage: build-image
  variables:
    CI_REGISTRY_EDUCA: 192.168.1.205
    CI_REGISTRY_EDUCA_USER: default
    CI_REGISTRY_EDUCA_PASSWORD: default
    IMAGE_NAME: $CI_REGISTRY_EDUCA/$PROJECT_NAME/$CI_COMMIT_REF_NAME/$MODULE_NAME
    DOCKERFILE: Dockerfile
    VITE_UNI_CLASS_BACKEND_HOST: $VITE_UNI_CLASS_BACKEND_HOST
    #RUNNERSERVER: build-shell
  #tags:
    #- $RUNNERSERVER
  script:
    - echo hello $IMAGE_NAME:$IMAGE_TAG
    - echo $CI_REGISTRY_EDUCA_USER
    - echo $CI_REGISTRY_EDUCA_PASSWORD
    - docker login -u $CI_REGISTRY_EDUCA_USER -p $CI_REGISTRY_EDUCA_PASSWORD  $CI_REGISTRY_EDUCA
    - docker build --build-arg $VITE_UNI_CLASS_BACKEND_HOST --cache-from $IMAGE_NAME:latest --tag $IMAGE_NAME:latest  --tag $IMAGE_NAME:$IMAGE_TAG -f $DOCKERFILE .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  cache:
    key: composer.json
    paths:
      - node_modules/
      - vendor/
#devaa

#production
build-image-frontend-prod(build-image):
  extends: .build-image-web
  variables:
    #RUNNER-SERVER: deploy-prod
    #GIT-BRANCH: master
    CI_REGISTRY_EDUCA: hub.educa.vn
    CI_REGISTRY_EDUCA_USER: $CI_REGISTRY_USER_PROD
    CI_REGISTRY_EDUCA_PASSWORD: $CI_REGISTRY_PASSWORD_PROD
    DOCKERFILE: Frontend/Dockerfile
    MODULE_NAME: frontend-game
    VITE_UNI_CLASS_BACKEND_HOST: "https://ws-game.uniclass.vn"
    #RUNNER-SERVER: deploy-prod
  tags:
    - build-shell
  #when: manual
  only:
    refs:
      - main
    changes:
      - Frontend/**/*
#dev

#production
build-image-backend-prod(build-image):
  extends: .build-image-web
  variables:
    CI_REGISTRY_EDUCA: hub.educa.vn
    CI_REGISTRY_EDUCA_USER: $CI_REGISTRY_USER_PROD
    CI_REGISTRY_EDUCA_PASSWORD: $CI_REGISTRY_PASSWORD_PROD
    DOCKERFILE: Backend-k8s.Dockerfile
    MODULE_NAME: backend-game
    VITE_UNI_CLASS_BACKEND_HOST: "https://ws-game.uniclass.vn"
  tags:
    - build-shell
  only:
    refs:
      - main
    changes:
      - Backend/**/*

add Script
  GameBot/BOT_SCRIPT.md
  GameBot/bot.js
Due: none

update countdown color
  Frontend/src/game/common/components/countdown/style.scss
Due: build-image-frontend-prod(build-image)

check null axios
  GameBot/utils.js
Due: none

check null axios
  GameBot/bot.js
  GameBot/logger.js
  GameBot/ui.js
Due: none

check null
  GameBot/utils.js
Due: none

add depen countdown
  Frontend/src/game/common/components/countdown/CountdownTimer.tsx
Due: build-image-frontend-prod(build-image)

add log
  Backend/src/controllers/external.controller.ts
Due: build-image-backend-prod(build-image)

add log
  Backend/src/controllers/external.controller.ts
  Backend/src/utils/logger.ts
Due: build-image-backend-prod(build-image)
